<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">@charset "UTF-8";
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide{ display : none !important; }

  ng\:form{ display : block; }

  .ng-animate-block-transitions{ transition : 0s all !important; -webkit-transition : 0s all !important; }</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="Description" content="AngularJS is what HTML would have been, had it been designed for building web-apps.
                 Declarative templates with data-binding, MVC, dependency injection and great
                 testability story all implemented with pure client-side JavaScript!">
  <meta name="fragment" content="!">
  <title ng-bind-template="ngGoodies API: loader" class="ng-binding">ngGoodies API: loader</title>

  <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="font-awesome.css" type="text/css">
  <link rel="stylesheet" href="prettify.css" type="text/css">
  <link rel="stylesheet" href="docs.css" type="text/css">
  <link rel="stylesheet" href="animations.css" type="text/css">
  <link rel="stylesheet" href="dashboard.css" type="text/css">
  <link rel="stylesheet" href="non-responsive.css" type="text/css">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
<div class="col-xs-2 sidebar">

   <form class="form-search ng-pristine ng-valid" ng-submit="submitForm()">
        
          <div class="dropdown search" ng-class="{open: focused &amp;&amp; bestMatch.rank > 0 &amp;&amp; bestMatch.page != currentPage}">
            <input type="text" ng-model="search" placeholder="search the docs" tabindex="1" accesskey="s" class="search-query ng-pristine ng-valid" focused="focused">
            <ul class="dropdown-menu">
              <li>
                <a href="" class="ng-binding"></a>
              </li>
            </ul>
          </div>
          
          
    <ul class="nav nav-list nav-sidebar ng-hide" ng-show="pages.length">
        <!-- ngRepeat: page in pages track by page.url -->
      </ul>
          <!-- ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/loader.directive" title="loader.directive">loader.directive</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url --><li ng-repeat="page in module.directives track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope first last">
              <a href="#/api/loader.directive.directive:loader" tabindex="2" class="ng-binding">loader</a>
            </li><!-- end ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/ngDancik.http" title="ngDancik.http">ngDancik.http</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/ngDancik.http.HTTP_VERB" tabindex="2" class="ng-binding">HTTP_VERB</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope active">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/ngDancik.http.ngDancikHttp" tabindex="2" class="ng-binding">ngDancikHttp</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/ngDancik.http.REQUEST_TYPES" tabindex="2" class="ng-binding">REQUEST_TYPES</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/ngDancik.popupSearch" title="ngDancik.popupSearch">ngDancik.popupSearch</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url --><li ng-repeat="page in module.others track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope first last">
              <a href="#/api/ngDancik.popupSearch.constant:POPUP_WEBSERVICE" tabindex="2" class="ng-binding">POPUP_WEBSERVICE</a>
            </li><!-- end ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/ngDancik.popupSearch.Popup2Search" tabindex="2" class="ng-binding">Popup2Search</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger" title="redroger">redroger</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.analytics" title="redroger.analytics">redroger.analytics</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.analytics.analytics" tabindex="2" class="ng-binding">analytics</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.client" title="redroger.client">redroger.client</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.client.clientInfo" tabindex="2" class="ng-binding">clientInfo</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.contextMenu" title="redroger.contextMenu">redroger.contextMenu</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url --><li ng-repeat="page in module.directives track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope first last">
              <a href="#/api/redroger.contextMenu.directive:contextMenu" tabindex="2" class="ng-binding">contextMenu</a>
            </li><!-- end ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.datepicker" title="redroger.datepicker">redroger.datepicker</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url --><li ng-repeat="page in module.directives track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope first last">
              <a href="#/api/redroger.datepicker.directive:redrogerDatepicker" tabindex="2" class="ng-binding">redrogerDatepicker</a>
            </li><!-- end ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.directive" title="redroger.directive">redroger.directive</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url --><li ng-repeat="page in module.directives track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope first">
              <a href="#/api/redroger.directive.directive:a" tabindex="2" class="ng-binding">a</a>
            </li><!-- end ngRepeat: page in module.directives track by page.url --><li ng-repeat="page in module.directives track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope last">
              <a href="#/api/redroger.directive.directive:fullScreen" tabindex="2" class="ng-binding">fullScreen</a>
            </li><!-- end ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.language" title="redroger.language">redroger.language</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url --><li ng-repeat="page in module.others track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope first last">
              <a href="#/api/redroger.language.constant:LANGUAGE" tabindex="2" class="ng-binding">LANGUAGE</a>
            </li><!-- end ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.language.language" tabindex="2" class="ng-binding">language</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.language.languageService" tabindex="2" class="ng-binding">languageService</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.loader" title="redroger.loader">redroger.loader</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.loader.loaderService" tabindex="2" class="ng-binding">loaderService</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.logger" title="redroger.logger">redroger.logger</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.logger.factory:APP_OVERRIDE" tabindex="2" class="ng-binding">APP_OVERRIDE</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.logger.Logger" tabindex="2" class="ng-binding">Logger</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.modal" title="redroger.modal">redroger.modal</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url --><li ng-repeat="page in module.directives track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope first last">
              <a href="#/api/redroger.modal.directive:goModal" tabindex="2" class="ng-binding">goModal</a>
            </li><!-- end ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.modal.modalFactory" tabindex="2" class="ng-binding">modalFactory</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.socket" title="redroger.socket">redroger.socket</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.socket.socket" tabindex="2" class="ng-binding">socket</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.templateCache" title="redroger.templateCache">redroger.templateCache</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url --><li ng-repeat="page in module.others track by page.url" ng-class="navClass(page)" class="api-list-item expand ng-scope first last">
              <a href="#/api/redroger.templateCache.constant:TEMPLATE_CACHE" tabindex="2" class="ng-binding">TEMPLATE_CACHE</a>
            </li><!-- end ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.templateCache.templates" tabindex="2" class="ng-binding">templates</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url --><ul class="nav nav-sidebar nav-list ng-scope" ng-repeat="module in modules track by module.url">
            <li class="nav-header module">
              <a class="guide">module</a>
              <a class="code ng-binding" href="#/api/redroger.utilities" title="redroger.utilities">redroger.utilities</a>
            </li>

            <!-- ngRepeat: page in module.others track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.directives.length">
              <a class="guide">directive</a>
            </li>
            <!-- ngRepeat: page in module.directives track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.controllers.length">
              <a class="guide">controller</a>
            </li>
            <!-- ngRepeat: page in module.controllers track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.filters.length">
              <a class="guide">filter</a>
            </li>
            <!-- ngRepeat: page in module.filters track by page.url -->

            <li class="nav-header section" ng-show="module.services.length">
              <a class="guide">service</a>
            </li>
            <!-- ngRepeat: service in module.services track by service.instance.url --><li ng-repeat="service in module.services track by service.instance.url" ng-class="navClass(service.instance, service.provider)" class="api-list-item expand ng-scope first last">
              <a ng-show="service.provider" class="pull-right ng-hide" href="" tabindex="2"><i class="icon-cog"></i></a>
              <a href="#/api/redroger.utilities.utilities" tabindex="2" class="ng-binding">utilities</a>
            </li><!-- end ngRepeat: service in module.services track by service.instance.url -->

            <li class="nav-header section ng-hide" ng-show="module.types.length">
              <a class="guide">Types</a>
            </li>
            <!-- ngRepeat: page in module.types track by page.url -->

            <li class="nav-header section ng-hide" ng-show="module.globals.length">
              <a class="global guide">global APIs</a>
              &nbsp;
            </li>
            <!-- ngRepeat: page in module.globals track by page.url -->
      </ul><!-- end ngRepeat: module in modules track by module.url -->
    </form>
    </div>

    <div class="col-xs-10 col-xs-offset-2 main">


      <ul class="breadcrumb">
        <!-- ngRepeat: crumb in breadcrumb -->
        <li ng-repeat="crumb in breadcrumb" class="ng-scope">
          <span ng-hide="crumb.url" class="ng-binding ng-hide">API Documentation</span>
          <a ng-show="crumb.url" href="#/api" class="ng-binding">API Documentation</a>
          <span ng-show="crumb.url" class="divider">/</span>
        </li>
        <!-- end ngRepeat: crumb in breadcrumb -->
        <li ng-repeat="crumb in breadcrumb" class="ng-scope">
          <span ng-hide="crumb.url" class="ng-binding ng-hide">loader.directive</span>
          <a ng-show="crumb.url" href="#/api/loader.directive" class="ng-binding">loader.directive</a>
          <span ng-show="crumb.url" class="divider">/</span>
        </li>
        <!-- end ngRepeat: crumb in breadcrumb -->
        <li ng-repeat="crumb in breadcrumb" class="ng-scope">
          <span ng-hide="crumb.url" class="ng-binding">loader</span>
          <a ng-show="crumb.url" href="" class="ng-binding ng-hide">loader</a>
          <span ng-show="crumb.url" class="divider ng-hide">/</span>
        </li>
        <!-- end ngRepeat: crumb in breadcrumb -->
      </ul>

      <div id="loading" ng-show="loading" class="ng-hide">Loading...</div>

      <!-- ngInclude:  -->
      <div ng-hide="loading" ng-include="" src="currentPage.partialUrl" onload="afterPartialLoaded()" autoscroll="" class="content slide-reveal ng-scope" style="">
        <h1 class="ng-scope"><code ng:non-bindable="">loader</code>

          <div><span class="hint">directive in module <code ng:non-bindable="">loader.directive</code>
</span>
          </div>
        </h1>
        <div class="ng-scope"><h2 id="description">Description</h2>

          <div class="description">
            <div class="loader-directive-directive-page loader-directive-directive-loader-page">
              <p>Replace element
                <loader> with $templateCache.get('/loader/loader.html')</loader>
              </p>
            </div>
          </div>
          <h2 id="usage">Usage</h2>

          <div class="usage">as element:
            <pre class="prettyprint linenums"><ol class="linenums">
              <li class="L0"><span class="tag">&lt;loader&gt;</span></li>
              <li class="L1"><span class="tag">&lt;/loader&gt;</span></li>
            </ol></pre>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


</body>
</html>
