<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='{{APP_NAME}}' Id='017088a0-4a66-11e5-993c-ef96b526d2c7'
             UpgradeCode='017088a1-4a66-11e5-993c-ef96b526d2c7'
             Language='1033' Version='1.0' Manufacturer='LabCorp'>

        <Package Id='*' InstallerVersion='200' Compressed='yes'/>
        <Media Id='1' Cabinet='phoenix.cab' EmbedCab='yes'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder'>
                <Directory Id='INSTALLDIR' Name='LabCorp Phoenix'>
                    <Component Id='content_resources_200_percent.pak' Guid='017088a2-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='content_resources_200_percent.pak' Name='content_resources_200_percent.pak'
                              Source='electron\content_resources_200_percent.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='content_shell.pak' Guid='017088a3-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='content_shell.pak' Name='content_shell.pak' Source='electron\content_shell.pak'
                              KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='d3dcompiler_47.dll' Guid='017088a4-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='d3dcompiler_47.dll' Name='d3dcompiler_47.dll' Source='electron\d3dcompiler_47.dll'
                              KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ffmpegsumo.dll' Guid='017088a5-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ffmpegsumo.dll' Name='ffmpegsumo.dll' Source='electron\ffmpegsumo.dll' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='icudtl.dat' Guid='017088a6-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='icudtl.dat' Name='icudtl.dat' Source='electron\icudtl.dat' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='libEGL.dll' Guid='017088a7-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='libEGL.dll' Name='libEGL.dll' Source='electron\libEGL.dll' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='libGLESv2.dll' Guid='017088a8-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='libGLESv2.dll' Name='libGLESv2.dll' Source='electron\libGLESv2.dll' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='LICENSE' Guid='017088a9-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='LICENSE' Name='LICENSE' Source='electron\LICENSE' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='am.pak' Guid='017088aa-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='am.pak' Name='am.pak' Source='electron\locales\am.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ar.pak' Guid='017088ab-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ar.pak' Name='ar.pak' Source='electron\locales\ar.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='bg.pak' Guid='017088ac-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='bg.pak' Name='bg.pak' Source='electron\locales\bg.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='bn.pak' Guid='017088ad-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='bn.pak' Name='bn.pak' Source='electron\locales\bn.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ca.pak' Guid='017088ae-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ca.pak' Name='ca.pak' Source='electron\locales\ca.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='cs.pak' Guid='017088af-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='cs.pak' Name='cs.pak' Source='electron\locales\cs.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='da.pak' Guid='017088b0-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='da.pak' Name='da.pak' Source='electron\locales\da.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='de.pak' Guid='017088b1-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='de.pak' Name='de.pak' Source='electron\locales\de.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='el.pak' Guid='017088b2-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='el.pak' Name='el.pak' Source='electron\locales\el.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='en-GB.pak' Guid='017088b3-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='en-GB.pak' Name='en-GB.pak' Source='electron\locales\en-GB.pak' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='en-US.pak' Guid='017088b4-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='en-US.pak' Name='en-US.pak' Source='electron\locales\en-US.pak' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='es-419.pak' Guid='017088b5-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='es-419.pak' Name='es-419.pak' Source='electron\locales\es-419.pak' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='es.pak' Guid='017088b6-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='es.pak' Name='es.pak' Source='electron\locales\es.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='et.pak' Guid='017088b7-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='et.pak' Name='et.pak' Source='electron\locales\et.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='fa.pak' Guid='017088b8-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='fa.pak' Name='fa.pak' Source='electron\locales\fa.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='fi.pak' Guid='017088b9-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='fi.pak' Name='fi.pak' Source='electron\locales\fi.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='fil.pak' Guid='017088ba-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='fil.pak' Name='fil.pak' Source='electron\locales\fil.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='fr.pak' Guid='017088bb-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='fr.pak' Name='fr.pak' Source='electron\locales\fr.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='gu.pak' Guid='017088bc-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='gu.pak' Name='gu.pak' Source='electron\locales\gu.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='he.pak' Guid='017088bd-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='he.pak' Name='he.pak' Source='electron\locales\he.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='hi.pak' Guid='017088be-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='hi.pak' Name='hi.pak' Source='electron\locales\hi.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='hr.pak' Guid='017088bf-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='hr.pak' Name='hr.pak' Source='electron\locales\hr.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='hu.pak' Guid='017088c0-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='hu.pak' Name='hu.pak' Source='electron\locales\hu.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='id.pak' Guid='017088c1-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='id.pak' Name='id.pak' Source='electron\locales\id.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='it.pak' Guid='017088c2-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='it.pak' Name='it.pak' Source='electron\locales\it.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ja.pak' Guid='017088c3-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ja.pak' Name='ja.pak' Source='electron\locales\ja.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='kn.pak' Guid='017088c4-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='kn.pak' Name='kn.pak' Source='electron\locales\kn.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ko.pak' Guid='017088c5-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ko.pak' Name='ko.pak' Source='electron\locales\ko.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='lt.pak' Guid='017088c6-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='lt.pak' Name='lt.pak' Source='electron\locales\lt.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='lv.pak' Guid='017088c7-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='lv.pak' Name='lv.pak' Source='electron\locales\lv.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ml.pak' Guid='017088c8-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ml.pak' Name='ml.pak' Source='electron\locales\ml.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='mr.pak' Guid='017088c9-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='mr.pak' Name='mr.pak' Source='electron\locales\mr.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ms.pak' Guid='017088ca-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ms.pak' Name='ms.pak' Source='electron\locales\ms.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='nb.pak' Guid='017088cb-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='nb.pak' Name='nb.pak' Source='electron\locales\nb.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='nl.pak' Guid='017088cc-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='nl.pak' Name='nl.pak' Source='electron\locales\nl.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='pl.pak' Guid='017088cd-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='pl.pak' Name='pl.pak' Source='electron\locales\pl.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='pt-BR.pak' Guid='017088ce-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='pt-BR.pak' Name='pt-BR.pak' Source='electron\locales\pt-BR.pak' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='pt-PT.pak' Guid='017088cf-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='pt-PT.pak' Name='pt-PT.pak' Source='electron\locales\pt-PT.pak' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='ro.pak' Guid='017088d0-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ro.pak' Name='ro.pak' Source='electron\locales\ro.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ru.pak' Guid='017088d1-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ru.pak' Name='ru.pak' Source='electron\locales\ru.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='sk.pak' Guid='017088d2-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='sk.pak' Name='sk.pak' Source='electron\locales\sk.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='sl.pak' Guid='017088d3-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='sl.pak' Name='sl.pak' Source='electron\locales\sl.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='sr.pak' Guid='017088d4-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='sr.pak' Name='sr.pak' Source='electron\locales\sr.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='sv.pak' Guid='017088d5-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='sv.pak' Name='sv.pak' Source='electron\locales\sv.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='sw.pak' Guid='017088d6-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='sw.pak' Name='sw.pak' Source='electron\locales\sw.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ta.pak' Guid='017088d7-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ta.pak' Name='ta.pak' Source='electron\locales\ta.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='te.pak' Guid='017088d8-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='te.pak' Name='te.pak' Source='electron\locales\te.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='th.pak' Guid='017088d9-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='th.pak' Name='th.pak' Source='electron\locales\th.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='tr.pak' Guid='017088da-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='tr.pak' Name='tr.pak' Source='electron\locales\tr.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='uk.pak' Guid='017088db-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='uk.pak' Name='uk.pak' Source='electron\locales\uk.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='vi.pak' Guid='017088dc-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='vi.pak' Name='vi.pak' Source='electron\locales\vi.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='zh-CN.pak' Guid='017088dd-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='zh-CN.pak' Name='zh-CN.pak' Source='electron\locales\zh-CN.pak' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='zh-TW.pak' Guid='017088de-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='zh-TW.pak' Name='zh-TW.pak' Source='electron\locales\zh-TW.pak' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='msvcp120.dll' Guid='017088df-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='msvcp120.dll' Name='msvcp120.dll' Source='electron\msvcp120.dll' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='msvcr120.dll' Guid='017088e0-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='msvcr120.dll' Name='msvcr120.dll' Source='electron\msvcr120.dll' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='natives_blob.bin' Guid='017088e1-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='natives_blob.bin' Name='natives_blob.bin' Source='electron\natives_blob.bin'
                              KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='node.dll' Guid='017088e2-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='node.dll' Name='node.dll' Source='electron\node.dll' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='pdf.dll' Guid='017088e3-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='pdf.dll' Name='pdf.dll' Source='electron\pdf.dll' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='MainExecutable' Guid='017088e4-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='LabCorpPhoenixEXE' Name='phoenix.exe' Source='electron\phoenix.exe' KeyPath="yes"
                              Checksum="yes" Vital='yes'/>
                        <RemoveFolder Id="INSTALLDIR" On="uninstall"/>
                    </Component>
                    <Component Id='app.asar' Guid='017088e5-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='app.asar' Name='app.asar' Source='electron\resources\app.asar' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='atom.asar' Guid='017088e6-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='atom.asar' Name='atom.asar' Source='electron\resources\atom.asar' KeyPath="yes"
                              Vital='yes'/>
                    </Component>
                    <Component Id='snapshot_blob.bin' Guid='017088e7-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='snapshot_blob.bin' Name='snapshot_blob.bin' Source='electron\snapshot_blob.bin'
                              KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='ui_resources_200_percent.pak' Guid='017088e8-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='ui_resources_200_percent.pak' Name='ui_resources_200_percent.pak'
                              Source='electron\ui_resources_200_percent.pak' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='vccorlib120.dll' Guid='017088e9-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='vccorlib120.dll' Name='vccorlib120.dll' Source='electron\vccorlib120.dll'
                              KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='version' Guid='017088ea-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='version' Name='version' Source='electron\version' KeyPath="yes" Vital='yes'/>
                    </Component>
                    <Component Id='xinput1_3.dll' Guid='017088eb-4a66-11e5-993c-ef96b526d2c7'>
                        <File Id='xinput1_3.dll' Name='xinput1_3.dll' Source='electron\xinput1_3.dll' KeyPath="yes"
                              Vital='yes'/>
                    </Component>

                </Directory>
            </Directory>
        </Directory>

        <Feature Id='Complete' Level="1">
            <ComponentRef Id='MainExecutable'/>
        </Feature>
    </Product>
</Wix>

