<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Name='{{APP_NAME}}' Id='{{PRODUCT_GUID}}'
             UpgradeCode='8291b2b1-4b33-11e5-975d-29a7531f1924'
             Language='1033' Version='{{APP_VERSION}}' Manufacturer='{{MANUFACTURER}}'>

        <Package Id='*' InstallerVersion='300' Compressed='yes'/>
        <Media Id='1' Cabinet='{{APP_CAB}}' EmbedCab='yes'/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="{{APP_NAME}}">
                    {{DIRECTORY}}
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="{{APP_NAME}}"/>
            </Directory>
        </Directory>

        {{APPLICATION_ICON_SOURCE}}

        {{DIRECTORY_REF}}

        <Feature Id="MainApplication" Title="Main Application" Level="1">
            {{COMPONENTS_REFS}}
        </Feature>

    </Product>
</Wix>

