<!--<header id="header" ui-view="appHeader"></header>-->
<div id="sb-site">
    <div id="main">
        <div class="site-content">
            <div id="templateContainer">
                <div id="angularView">

                    <div data-rr-offset style="position: relative;" id="masterContainer">
                        <div class="container">
                            <div id="mainContent" class="s-column">
                                <div ui-view="mainContent"></div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div id="footerContainer">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div id="eventLog" class="pull-right">
                                        &#169; 2015 LabCorp Inc
                                    </div>
                                </div>
                                <div class="panel-body" ui-view="eventLog"></div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
