

@font-face {
    font-family: 'PhxLightFont';
    src: url('../fonts/light/roboto_light_300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PhxRegularFont';
    src: url('../fonts/regular/roboto_regular_400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PhxMediumFont';
    src: url('../fonts/medium/roboto_medium_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PhxCondensedFont';
    src: url('../fonts/condensed/roboto_condensed_400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PhxBoldFont';
    src: url('../fonts/regular/roboto_regular_400.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: PhxLightFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

.modal-box .panel, .modal-box .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin: 0px;
}

.modal-box .panel, .modal-box .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin: 0px;
}

.panel-danger {
    border-color: #2F8DBB;
}


.panel {
    margin-bottom: 18px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.modal-box.in {

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 230ms;
    animation-duration: 230ms;
}

.modal-box {
    background-color: #ffffff;
    position: fixed;
    width: 400px;
    border: thin solid #c5c5c5;

    -webkit-box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.75);
}

.modal-box {
    z-index: 1;
}

.modal-box {
    background-color: #ffffff;
    position: fixed;
    width: 400px;
    border: thin solid #c5c5c5;
    -webkit-box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.75);
}

.panel-footer {
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.modal-box .panel, .modal-box .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin: 0px;
}

.panel-danger > .panel-heading {
    color: #ffffff;
    background-color: #2f99bb;
}

.modal-box .panel, .modal-box .panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin: 0px;
}


.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
